
@import "https://fonts.googleapis.com/css?family=Ubuntu+Mono:200,400,400i,700";
@import "https://fonts.googleapis.com/css?family=Ubuntu:200,700";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');


:root {
    --color_background: #f7f7f7;
    --farbe_standard_schrift: #000000;
    --farbe_marker: yellow;
    --farbe_highlight: #EC2121;
    --farbe_headline: #2c2c2c;
}

html {
    scroll-behavior: smooth;
}

body {
    display: grid;
    /* TODO: make sure this scales properly */
    grid-template-columns: 10em 70%;
    max-width: 100%;
    width: 90%;
    margin: 0 auto;
    
    background-color: var(--color_background);
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    color: rgb(0, 0, 0);
    line-height: 1.8;
    /* padding: 5%; */
}

div {
    /* padding-left: 5%; */
}
main {
    -webkit-font-smoothing: antialiased;
    padding-left: 5%;
}

.textblock {
    font-size: 0.85vw;
    line-height: 1.8vw;
    letter-spacing: 0.09vw;
    font-family: "Ubuntu Mono", monospace;
    max-width: 65%;
    padding-top: 4vw;
    padding-bottom: 4vw;
}

h1,h2,h3,h4,h5,h6 {
    -webkit-font-smoothing: antialiased;
    color: #2c2c2c;
    font-family: "Ubuntu", sans-serif;
    font-size: 2.4vw;
    font-style: normal;
    letter-spacing: 0.09vw;
    
}
h1 {
    line-height: 3.5vw;
    font-size: 2.5vw;
    font-weight: 600;
    margin-bottom: 0;
    
}
h3 {
    font-size: 1.2vw;
    font-weight: 700;
    margin-bottom: 0;
}
img.titleimage {
    width: 100%;
    height: auto;
    
}
.imagecaption {
    font-family: "Ubuntu Mono", monospace;
    font-weight: 100;
    font-size: 0.9em;
    padding-left: 5%;
}